# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter / Colab
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.json

# Model files
*.h5
*.keras
*.pkl

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.tmp